/*--------------------------------------- OL ---------------------------------------*/ 
#itemBox
{

	color: #407781;
	padding: 0px;
	margin: 20px;
}
#itemBox .form-field
{
	width:325px;
	
}
/*-------------------------------------END OL -------------------------------------*/  


.form-container
{
	border: 1px solid #f2e3d2;

	background: #DBEDF9;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 2px;
	-moz-box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 2px;
	box-shadow: rgba(000,000,000,0.9) 0 0px 2px, inset rgba(255,255,255,0.4) 0 0px 2px;

	font-family: 'Helvetica',Helvetica,sans-serif;
	text-decoration: none;
	vertical-align: middle;
	min-width:300px;
	padding-left:40px;
	padding-right:40px;
	padding-top:15px;
	padding-bottom:10px;
	width:400px;

	margin:auto;
}
   
.form-field
{
   border: 1px solid #0e5d6b;
   
   background: #FaFeFF;
   
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
   
   color: #306070;
   
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   
   padding:5px;
   
   margin-bottom:15px;
   width:350px;
}
   
.form-field:focus 
{
   background: #fbfbff;
   color: #204040;
   border: 1px solid #9ead5b;
}
   
.form-container h2 
{
   text-shadow: #106283 0 1px 0 ;
   font-size: 19px;
   margin: 0 0 8px 0;

   text-align: center;
   letter-spacing: 0.02em;
}
    
.form-title 
{
   margin-bottom:8px;
   color: #082d55;
   text-shadow: #106283 0 1px 0 ;
   letter-spacing: 0.03em;
}
   
.submit-container
{
   margin:8px 0;
   text-align:right;
}
   
.submit-button
{
   border: 1px solid #ccc76c;
   background: #a6ad74;
   background: -webkit-gradient(linear, left top, left bottom, from(#f6f7ca), to(#a6ad74));
   background: -webkit-linear-gradient(top, #f6f7ca, #a6ad74);
   background: -moz-linear-gradient(top, #f6f7ca, #a6ad74);
   background: -ms-linear-gradient(top, #f6f7ca, #a6ad74);
   background: -o-linear-gradient(top, #f6f7ca, #a6ad74);
   background-image: -ms-linear-gradient(top, #f6f7ca 0%, #a6ad74 100%);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #a6a62a 0 1px 0;
   color: #2d3618;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
}
   
.submit-button:hover
{
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
}
   
.submit-button:active 
{
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
}

/*--------------------------------------- PLUS ---------------------------------------*/  

#plus
{
   border: 1px solid #aca74c;

   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;

   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;

   text-shadow: #a0a027 0 1px 0;
   color: #FFFFFF;
   font-family: helvetica, serif;
   padding: 4px 4px;
   font-size: 14px;
   text-decoration: none;

   margin-left: 25%; 
   
}

#plus:hover 
{
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
}

/*--------------------------------------END  PLUS --------------------------------------*/  


/*--------------------------------------END  PLUS --------------------------------------*/

.minus {
   border: 1px solid #ccc76c;

   background: #B9412D;
   background: -webkit-gradient(linear, left top, left bottom, from(#D87163), to(#B9412D));
   background: -webkit-linear-gradient(top, #D87163, #B9412D);
   background: -moz-linear-gradient(top, #D87163, #B9412D);
   background: -ms-linear-gradient(top, #D87163, #B9412D);
   background: -o-linear-gradient(top, #D87163, #B9412D);
   background-image: -ms-linear-gradient(top, #D87163 0%, #B9412D 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;

   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 0px 0;

   text-shadow: #a6a62a 0 1px 0;
   color: #FFFFFF;
   font-family: helvetica, serif;
   padding: 4px 6px;
   font-size: 14px;
   text-decoration: none;
   font-weight: bolder;
 
}

.minus:hover 
{
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #c08d59;
   background: -webkit-gradient(linear, left top, left bottom, from(#a46a36), to(#c08d59));
   background: -webkit-linear-gradient(top, #a46a36, #c08d59);
   background: -moz-linear-gradient(top, #a46a36, #c08d59);
   background: -ms-linear-gradient(top, #a46a36, #c08d59);
   background: -o-linear-gradient(top, #a46a36, #c08d59);
   background-image: -ms-linear-gradient(top, #a46a36 0%, #c08d59 100%);
   color: #fff;
}

/*--------------------------------------END  PLUS --------------------------------------*/
